body
{
	background-color: #777777;
	 background-size: 30%;
}

.container
{
	padding-top: 70px;
}
.wysrodkuj
{
	position: relative;
}
.socialmedia
{
	font-size: 30px;
}
.buttons-sizing
{
	width: 45%;
	padding-top:10px;
	padding-bottom:10px;
}
.sticky-footer-container
{
	padding-bottom: 105px;
}
.myfooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
.border-mine
{
	border: 5px solid;
}
.buttons-underline
{
	border-bottom: 5px solid;
}
.buttons-underline:hover
{
	border-bottom: 5px solid;
	background-color: #DDD;
	cursor: pointer;
}
.button-size
{
	font-weight: bold;
}
.text-sizing
{
	font-size: 12px;
}
#slider
{
	
}
h6
{
	margin: 0;
}
.border-right {
    border-width:2px !important;
}
.mess
{	
	position: absolute;
	text-align: center;
	padding: 25px 0px;
	top: 65%;
	left: 18%;
	width: 64%;
	background-color: black;
	color: white;
	text-shadow: none;
	opacity: 70%;
	border-radius: 5px;
}
.mess2
{	
	position: absolute;
	text-align: center;
	padding: 25px 0px;
	top: 72%;
	left: 20%;
	width: 60%;
	background-color: black;
	color: white;
	opacity: 70%;
	text-shadow: none;
	border-radius: 5px;
}
.mess3
{	
	position: absolute;
	text-align: center;
	padding: 25px 0px;
	left: 20%;
	top: 72%;
	width: 60%;
	background-color: black;
	color: white;
	text-shadow: none;
	opacity: 70%;
	border-radius: 5px;
}
.mess4
{	
	position: absolute;
	text-align: center;
	padding: 25px 0px;
	z-index: 10;
	top: 0%;
	left: 20%;
	width: 60%;
	background-color: black;
	color: white;
	text-shadow: none;
	opacity: 70%;
	border-radius: 5px;
}